<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="index">

<body>
    <main layout:fragment="contenido">
        <div class="col-12">
            <h2 th:text="${editar} == true ? 'Editar Cliente' : 'Agregar Cliente'">  </h2>
            <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                th:text="${mensaje}" class="alert">
            </div>
            <form th:object="${cliente}" th:action="${editar} == true ? @{/cliente/editar/} + ${cliente.id} : @{/cliente/add}"  method="post">
                <div class="form-group">
                    <label for="nombre">Nombre del Cliente</label>
                    <input autocomplete="off" autofocus th:field="*{nombre}" id="nombre" type="text"
                        class="form-control" th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{nombre}"></div>
            </div>
            <div class="form-group">
                <label for="apellido_1">Primer apellido</label>
                <input autocomplete="off" th:field="*{apellido_1}" id="apellido_1" 
                       type="text" class="form-control" th:classappend="${#fields.hasErrors('apellido_1')} ? 'is-invalid' : ''">
                <div class="invalid-feedback" th:errors="*{apellido_1}"></div>

            </div>
            <div class="form-group">
                <label for="apellido_2">Segundo Apellido</label>
                <input autocomplete="off" th:field="*{apellido_2}" id="apellido_2"
                    type="text" class="form-control">
            </div>
            <button class="btn btn-success" type="submit">Guardar</button>
            &nbsp;<a class="btn btn-warning" th:href="@{/cliente/list}">Ver todos</a>
        </form>
    </div>
</main>
</body>
</html>