<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="index">

<body>
    <main layout:fragment="contenido">
        <div class="row">
        	
        	<div class="col mx-auto">

        		<div class="row justify-content-center">
		            <h2 th:text="${editar} == true ? 'Editar Articulo' : 'Agregar Articulo'">  </h2>
		            <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
		                th:text="${mensaje}" class="alert">
		            </div>
				</div>		
				
	            <form  th:object="${articulo}" th:action="${editar} == true ? @{/articulo/editar/} + ${articulo.id} : @{/articulo/add}" 
	                    method="post" enctype="multipart/form-data">
					
			
	                <div class="form-group row">
	                	
	                	<div class="col-md-5">
		                    <label for="titulo">Titulo</label>
		                    <input autocomplete="off" autofocus th:field="*{titulo}" id="titulo" type="text"
		                        class="form-control" th:classappend="${#fields.hasErrors('titulo')} ? 'is-invalid' : ''">
		                    <div class="invalid-feedback" th:errors="*{titulo}"></div>
		                </div>
		                
		                <div class="col-md-3">
			               	<label  for="tipo">Tipo</label>
		                    <select class="form-control" name="tipo" th:field="*{tipo}">
		                        <option th:each="tipo : ${T(com.galeria.enumeraciones.TipoArticulo).values()}"
		                             th:value="${tipo}" th:text="${tipo}"></option>
		                    </select>
			            </div>
			            
		                <div class="col-md-4">
							<label  for="artista">Artista</label>
			                <select class="form-control" th:field="*{artista}">
		                        <option th:each="artista : ${artistas}"
		                            th:value="${artista.id}" th:text="${artista.nombre} + ' ' + ${artista.apellido_1}" ></option>
				            </select>
		                </div>
	                </div>
	                
	                <div class="form-group row">

						<div class="col-md-2">	 
							<label for="numeracion">Numeracion</label>
						  	<input type="number" class="form-control" id="numeracion" th:field="*{numeracion}">		
						</div>
						
						<div class="col-md-2">	 
							<label for="medidas">Medidas</label>
						  	<input type="text" class="form-control" id="medidas" th:field="*{medidas}">		
						</div>
						
						<div class="col-md-2">	 
							<label for="pisada">Pisada</label>
						  	<input type="text" class="form-control" id="pisada" th:field="*{pisada}">		
						</div>

						<div class="col-md-6">	 
							<label for="editor">Editor</label>
						  	<input type="text" class="form-control" id="editor" th:field="*{editor}">		
						</div>
					
	                </div>	               

					<div class="form-group row">

						<div class="col-md-6">	 
							<label for="descripcion">Descripcion</label>
						  	<textarea class="form-control" id="descripcion" rows="3" th:field="*{descripcion}"></textarea>		
						</div>

					</div>

					<div class="form-gorup row">
					
						<div class="col-md">	 
							<div class="custom-control custom-checkbox">
							  <input type="checkbox" class="custom-control-input" id="firmado" name="firmado" th:field="*{firmado}">
							  <label class="custom-control-label mg-auto" for="firmado">Firmado</label>
							</div>
						</div>
 
					</div>
		
		            <input type="hidden" th:field="*{foto64}">
					
	                <div class="form-group row" th:if="*{foto64} != null">
	                    
	                    <div class="col-sm-6">
	                    	
	                    	<div>
	                        	<img id="Imagen" class="img-thumbnail" th:value="*{foto64}" th:src="@{'data:image/jpeg;base64,'+${articulo.foto64}}" height="200" width="200"/>
	                    	</div>
	                    	<label for="Imagen">Imagen</label>
	                    </div>
	                    
	                </div>

	                <div class="form-group row" >
	                    <div class="col">
	                        <input name="file" type="file" accept="image/*">
	                    </div>
	                </div>
						
					<div class="form-group row">
			                <button class="btn btn-success" name = "guardar" type="submit">Guardar</button>
			                &nbsp;<a class="btn btn-danger" th:href="@{/articulo/list}">Cancelar</a>
					</div>
	            </form>
	    	</div>
	    </div>
</main>
</body>
<script>
    $('.custom-file-input').on('change',function(){
        $(this).next('.form-control-file').addClass("selected").html($(this).val());
    })
</script>
</html>