<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="index">

<body>
    <main layout:fragment="contenido">
        <div class="col-12">
            <h2 th:text="${editar} == true ? 'Editar Articulo' : 'Agregar Articulo'">  </h2>
            <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
                th:text="${mensaje}" class="alert">
            </div>

            <form th:object="${articulo}" th:action="${editar} == true ? @{/articulo/editar/} + ${articulo.id} : @{/articulo/add}" 
                    method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="titulo">Titulo del articulo</label>
                    <input autocomplete="off" autofocus th:field="*{titulo}" id="titulo" type="text"
                        class="form-control" th:classappend="${#fields.hasErrors('titulo')} ? 'is-invalid' : ''">
                    <div class="invalid-feedback" th:errors="*{titulo}"></div>
                </div>

                <div class="form-group">
                    <label for="tipo">Tipo de articulo</label>
                    <select class="form-control" name="tipo" th:field="*{tipo}">
                        <option th:each="tipo : ${T(com.galeria.enumeraciones.TipoArticulo).values()}"
                             th:value="${tipo}" th:text="${tipo}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="artista">Artista</label>
	                <select class="form-control" th:field="*{artista}">
                        <option th:each="artista : ${artistas}"
                            th:value="${artista.id}" th:text="${artista.nombre} + ' ' + ${artista.apellido_1}" ></option>
		            </select>
                </div>
                <input type="hidden" th:field="*{foto64}">
                <div class="form-group">
                    <label for="Imagen">Imagen</label>
                    <div>
                        <img th:field="*{foto64}" th:src="@{'data:image/jpeg;base64,'+${articulo.foto64}}" height="200" width="200"/>
                    </div>
                </div>

                <div class="form-group" >
                    <div>
                        <input name="file" type="file" accept="image/*">
                    </div>
                </div>

                <button class="btn btn-success" name = "guardar" type="submit">Guardar</button>
                &nbsp;<a class="btn btn-danger" th:href="@{/articulo/list}">Cancelar</a>

            </form>

        </div>
</main>
</body>
<script>
    $('.custom-file-input').on('change',function(){
        $(this).next('.form-control-file').addClass("selected").html($(this).val());
    })
</script>
</html>