<nav th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml"
	class="navbar navbar-expand-md bg-dark navbar-dark">
	
	<a class="navbar-brand" href="">Galeria</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	
  	
	<div class="collapse navbar-collapse"  id="menu">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/}">Inicio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/cliente/list}">Clientes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/artista/list}">Artistas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/articulo/list}">Articulos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/logout}">Salir</a>
			</li>
		</ul>
	</div>
</nav>