<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
   	<meta charset="ISO-8859-1">
	<title>Tandem</title>
	<head>
	  <title>Tandem</title>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	  <style>
	  </style>
	</head>
  </head>
<body>
<header th:replace="header::header"></header>
    
    <div class="container">
        <div class="card bg-dark">
            <div class="card-header">
                <h3>Nuevo Cliente</h3>
            </div>
            <div class="card-body">
                <form th:action="@{/cliente/save}" th:object="${cliente}" method="post">
                    <!-- <input type="hidden" th:field="${producto.id}"> -->
                    <input type="hidden" th:field="*{id}" />
        
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" th:field="${producto.nombre}"> -->
                            <input type="text" th:field="*{nombre}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Primer Apellido</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" th:field="${producto.codigo}"> -->
                            <input type="text" th:field="*{apellido_1}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Segundo Apellido</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" th:field="${producto.precio}"> -->
                            <input type="text" th:field="*{apellido_2}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Teléfono</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" th:field="${producto.precio}"> -->
                            <input type="text" th:field="*{telefono}">
                    	</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" th:field="${producto.precio}"> -->
                            <input type="text" th:field="*{mail}">
                    	</div>
                    </div>               
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="submit" value="Guardar cliente" class="btn btn-outline-primary">
                            <a th:href="@{/cliente/list}" class="btn btn-outline-danger">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <footer th:replace="footer::footer" class="bg-dark"></footer>
</body>
</html>